EDC2015-G1-Project/EDC2015-G1-Project/XML/ementas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="menus">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="menu">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="items">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="item">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="canteen" type="xs:string" use="required" />
                  <xs:attribute name="meal" type="xs:string" use="required" />
                  <xs:attribute name="date" type="xs:string" use="required" />
                  <xs:attribute name="weekday" type="xs:string" use="required" />
                  <xs:attribute name="weekdayNr" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="disabled" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="zone" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="request" type="xs:string" use="required" />
      <xs:attribute name="request_timestamp" type="xs:unsignedInt" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>