EDC2015-G1-Project/EDC2015-G1-Project/XML/reservas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reservas">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="reserva">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="userId" type="xs:string" />
              <xs:element name="cantina" type="xs:string" />
              <xs:element name="meal" type="xs:string" />
              <xs:element name="date" type="xs:string" />
              <xs:element name="weekDay" type="xs:string" />
              <xs:element name="numberSeats" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>